<nav id="header-nav">
  <div id="next" class="icon">&#59966;</div>
  <div id="menu" tabindex="-1">
    <div id="menu-icon">
      <svg width="256" height="256" viewBox="0 0 256 256" version="1.1">
        <g fill="#ff1493">
          <rect width="32" height="64" x="32" y="128" />
          <rect width="64" height="32" x="64" y="192" />
          <rect width="32" height="160" x="128" y="32" />
          <rect width="80" height="32" x="64" y="96" />
          <rect width="32" height="32" x="160" y="192" />
          <rect width="48" height="32" x="144" y="32" />
        </g>
        <g fill="#ffffff">
          <rect width="64" height="64" x="64" y="128" />
          <rect style="stroke:#000000;stroke-width:8" width="40" height="40" x="76" y="140" />
        </g>
        <g fill="#000000">
          <rect width="32" height="32" x="128" y="192" />
          <rect width="32" height="32" x="192" y="192" />
          <rect width="32" height="128" x="160" y="64" />
          <rect width="32" height="32" x="192" y="32" />
          <rect width="16" height="16" x="88" y="152" />
        </g>
      </svg>
    </div>
    <ol id="menu-list">
      <li id="create"><a href="/create" tabindex="-1">Create entry</a></li>
      <li id="options"><a href="/options" tabindex="-1">Options</a></li>
      <li id="help"><a href="/help" tabindex="-1">Help</a></li>
      <li id="logout"><a href="/logout" tabindex="-1">Log out</a></li>
    </ol>
  </div>
</nav>
<main
  ><h1 class="show">Diary</h1
  {{#if initial}}
  ><ol id="entries"
    ><li class="message">{{{welcome}}}</li
  {{else if noEntries}}
  ></ol
  ><ol id="entries"
    ><li class="no-entries">Nothing at all...</li
  ></ol
  {{else if entryList}}
  ><ol id="entries"
  {{#each entryList}}
    ><li class="entry" id="{{this.id}}" data-epoch="{{this.timestamp}}"
      ><div class="entry-header"
        ><span class="entry-title" tabindex="-1"
          ><h1 class="entry-titletext">{{this.title}}</h1
          >&#8203;<a href="/update/{{this.id}}" class="edit" tabindex="-1">edit</a
          >&#8203;<form action="/delete" method="POST" class="delete"
            ><span tabindex="-1">delete</span
            ><input type="submit" class="confirm-delete" value="are you sure?"
            ><input type="hidden" name="id" value="{{this.id}}"
          ></form
        ></span
        ><span class="entry-time"></span
      ></div
      ><div class="entry-body">{{{this.body}}}</div
    ></li
  {{/each}}
  ></ol
  ><nav id="footer-nav"
    ><span id="pagination"
      >{{#paginate}}<a {{#if this.cur}}class="currentPage"{{/if}} data-pp="{{this.pp}}" data-np="{{this.num}}">{{this.start}}-{{this.end}}</a
    >{{/paginate}}</span
    ><span id="page-length"
      ><select
        >{{#pagelength '5, 10, 25, 50, 100'}}<option{{#if this.active}} selected{{/if}}>{{this.val}}</option
      >{{/pagelength}}</select
    ></span
  ></nav
  {{/if}}
></main>
<template id="date">
  <li class="date"
    ><div class="date-heading"></div
  ></li>
</template>
{{#contentFor 'scripts'}}
<script>var timezone = '{{timezone}}'</script>
<script src="js/home.js"></script>
{{/contentFor}}
